.footer {
    background: #ebdbd8;
    a{
        padding: 0;
    }
    span{
        font-size: 16px;
        @media (max-width: 540px) {
            font-size: 12px;
        }
    }
    .container {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .nav-link {
        .bi-envelope,
        .bi-github {
            color: #cf9e9e;
        }
        .bi-envelope:hover,
        .bi-github:hover {
            color: #FFBB77;
        }
    }
}
