.footer {
    .navbar-brand {
        font-size: 24px;
        line-height: 30px;
    }
    .first-column {
        padding: 24px 0;
    }
    .second-column {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.nav-item,
.nav-link {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.navbar-brand:hover,
.nav-link:hover {
    background: #84c1ff;
}

@media (min-width: 768px) {
    .footer {
        .copyright {
            margin: 0 auto;
        }
    }
}
