.container {
    // border: 1px solid blue;
    padding: 12px;
    .bi-arrow-left {
        color: #cf9e9e;
    }
    .bi-arrow-left:hover {
        color: #ffbb77;
    }
    .priceArea {
        vertical-align: baseline;
        .origin_price {
            font-size: 18px;
        }
        .price {
            color: red;
            font-size: 30px;
        }
    }

    .content,
    .need_know {
        margin-bottom: 16px;
        // border: 1px solid green;
    }
    // p-card
    .p-card {
        overflow: hidden;
        &-image {
            overflow: hidden;
            position: relative;
            cursor: pointer;
        }
        &:hover {
            .hover-area {
                opacity: 1;
                padding-top: 10px;
            }
        }
    }

    .hover-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
}
